<h3 class="font-semibold text-center text-lg">{{movie.name}}</h3>
<div class="p-5 bg-teal-600 flex justify-center h-96 rounded-sm"> <img id="movie-slots" class="rounded-md"
        src="{{movie.imageUrl}}" (error)="handleImg($event)" alt=" poster of : {{movie.name}}" width="230" height="300">
</div>
<p>{{movie.description}}</p>
<p><span>Price:</span> {{movie.price}} sek.</p>
<p><span>Year:</span> {{movie.year}}</p>
<ul class="mb-10">
    <p class="mb-2">Genres : </p>
    <li class="flex gap-2">
        <p *ngFor="let category of movie.productCategory; trackBy: trackCategoryById">
            <span [class]="category.category">
                {{category.category }}
            </span>
        </p>
    </li>
</ul>

<form class="flex justify-center m-auto absolute bottom-0">
    <button (click)="handleNewMovie(movie)" class="bg-teal-600 rounded-md text-white p-2">Köp</button>
</form>