<button class="bg-teal-600 flex rounded-md text-white p-2 text-center m-auto my-2"><a [routerLink]="['']">Head
        back</a></button>
<div class="cart-container flex m-auto justify-center gap-2">
    <div>
        <h3 class="m-auto text-center text-lg text-teal-500">Summary: 🛒</h3>
        <ul>
            <li class="flex flex-col gap-4 max-w-2xl m-auto my-4" *ngFor="let orders of cartItems">
                <div class="bg-slate-800 text-slate-200 m-auto flex flex-wrap w-full p-3 rounded-sm">
                    <!-- <p class="font-extrabold">{{orders.orderId}}</p>  genereras först när man checkat ut-->
                    <div class="p-5 bg-teal-600 flex justify-center h-52 rounded-sm"> <img class="rounded-md"
                            src="{{orders.product?.imageUrl}}" (error)="handleImg($event)"
                            alt=" poster of : {{orders.product?.name}}" width="130" height="300">
                    </div>
                    <div class="p-3 flex flex-col justify-between">
                        <p>Item number: {{ orders.product?.id}}</p>
                        <p>Product name: {{ orders.product?.name}}</p>
                        <p>Quantity: {{ orders.amount}} x {{orders.product?.price}} sek each.</p>
                        <p>Total Amount: {{ (orders.product?.price || 0) * orders.amount }} sek.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div> <!-- hårdkodat tills vi har ett riktigt värde -->
        <p class="m-auto text-center text-teal-500">Total prize : {{order.totalPrice}}</p>
        <!-- <p>{{order.totalPrice}}</p>   -->
        <h3 class="m-auto text-center text-teal-500">Your details :</h3>
        <form [formGroup]="checkoutForm" (ngSubmit)="submitCheckoutForm($event)"
            class="flex flex-col gap-1 max-w-md justify-center m-auto my-4">

            <label for="first-name" class="text-teal-500">First name:</label>
            <input id="first-name" type="text" formControlName="firstName">
            <label for="sur-name" class="text-teal-500">Surname:</label>
            <input id="sur-name" type="text" formControlName="surName">

            <label for="payment-method" class="text-teal-500">Payment method:</label>
            <select id="payment-method" type="text" class="bg-teal-600 p-2 text-slate-200"
                formControlName="paymentMethod">
                <option value="" disabled selected>--Please choose a payment method--</option>
                <option value="PayPal">PayPal</option>
                <option value="Card">Card</option>
            </select>
            <button class="bg-teal-600 rounded-md text-white p-2">Buy</button>
        </form>
        <p *ngIf="formResponse" class="text-red-600">Please fill in all forms!</p>
    </div>
</div>