@tailwind base;
@tailwind components;
@tailwind utilities;

.center{
    margin: 0 auto;
}

.categoryHead {
    background-color: rgba(0, 18, 42, 0.926);
    color: rgb(71, 214, 221);
}

.categoryList {
    background-color: rgba(0, 18, 42, 0.926);
  
}

.categoryList a > div > h2 {
    background-color: rgba(52, 149, 155, 0.928);
}

.customColor {
        background-color: rgba(10, 136, 158, 0.354);
        color: white;
 
}

.customStorePageGrid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

body {
    background-color: rgb(233, 233, 233);
}

.Action {
    color: #a53838;
    border: 2px solid #a53838;
    border-radius: 5px;
    padding: 0.2rem;
    background-color: rgba(0, 18, 42, 0.926);
}

.Sci-fi {
    color: #44bec2;
    border: 2px solid #44bec2;
    border-radius: 5px;
    padding: 0.2rem;
    background-color: rgba(0, 18, 42, 0.926);
}

.Thriller {
    color: #4457c2;
    border: 2px solid #4457c2;
    border-radius: 5px;
    padding: 0.2rem;
    background-color: rgba(0, 18, 42, 0.926);
}

.Comedy {
    color: #afc244;
    border: 2px solid #afc244;
    border-radius: 5px;
    padding: 0.2rem;
    background-color: rgba(0, 18, 42, 0.926);
}

.Action::after {
    content: "💣";
}

.Sci-fi::after {
    content: "👽";
}

.Thriller::after {
    content: "🔪";
}

.Comedy::after {
    content: "🤡";
}

#movie-slots {
    animation: introEffect 0.8s ease-in-out forwards;
    transform-style: preserve-3d;
  }

/* animations */

@keyframes introEffect {
    0% {
      transform: perspective(1000px) rotateY(180deg)  translateY(-25%);
      opacity: 0;
    }
    100% {
      transform: perspective(1000px) rotateY(0) translate(0);
      opacity: 1;
    }
  }

