@tailwind base;
@tailwind components;
@tailwind utilities;

.center{
    margin: 0 auto;
}

.categoryHead {
    background-color: rgba(0, 18, 42, 0.926);
    color: rgb(71, 214, 221);
}

.categoryList {
    background-color: rgba(0, 18, 42, 0.926);
    a>div>h2 {
        background-color: rgba(52, 149, 155, 0.928);
    }
}

.cartColors {
    background-color: rgba(0, 18, 42, 0.926);
    color: rgb(71, 214, 221);
    ul>li {
        background-color: rgba(10, 136, 158, 0.354);
        color: white;
    }
}

.customStorePageGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

body {
    background-color: rgb(233, 233, 233);
}

